{% extends "base.html" %}

{% block content %}

<div class="lgn-container">
    <div class="lgn-title">
        <p>Enter on theBlog</p>
    </div>

    <hr class="separator">

    <div class="lgn-image-container">
        <img class="lgn-image" src="img/logo.png" alt="theBLOG">
    </div>

    <form action="/login" method="POST" class="lgn-form">
        <input type="text" name="user" placeholder="User Name" value="emmanuelf" class="lgn-form-input lgn-form-input-txt">
        <input type="password" name="password" placeholder="Password" value="pythoncit" class="lgn-form-input lgn-form-input-txt">
        <div class="lgn-rememberme">
            <input type="checkbox" checked="checked" name="rememberme" value="true"><span>Remember me</span>
        </div>
        <input type="submit" value="Enter" class="lgn-form-input lgn-form-input-sbmt">
    </form>

    <div class="lgn-error">
        <span class="lgn-error-text">{{error_message}}</span>
    </div>

    <hr class="separator">

    <div class="lgn-footer">
        <p>Don't have an account?<a href="/signIn"> Sign In »</a></p>
    </div>
</div>

{% endblock %}