{% extends "base.html" %}

{% block content %}

	<header>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img class="logo" src="img/logo.png" alt="theBLOG">
          </div>
          <div class="col-md-6">

          </div>
        </div>
      </div>
    </header>

    <div class="container container-main">
	    <nav class="navbar navbar-default">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	          </button>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li class="active pointer"><a href="/">Home</a></li>
	            <li class="pointer"><a href="/post">Post!</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
          <div class="logout">
              <a href="/logout">Logout</a>
          </div>
	      </div>
	    </nav>

	    <div class="row">
			<div class="col-md-12 posts-container">
          {% for post in posts %}
    				<div class="well post-container">
    				  <h3 class="post-subject">{{post.subject}}</h3>
    				  <p class="post-info"><i class="glyphicon glyphicon-time"></i> Posted by {{post.author.fullname}} on {{post.created.strftime('%m-%d-%Y %H:%M:%S')}}</p>
    				  <hr class="separator">
    				  <p>{{post.content}}</p>
    				  <!-- glyphicon-heart-heart -->
    				  <a class="glyphicon glyphicon-heart-empty pointer"><span class="post-container-link">Like</span></a>
    				  <a href="/post?id={{post.key().id()}}" class="glyphicon glyphicon-pencil pointer"><span class="post-container-link">Edit</span></a>
    				  <a class="glyphicon glyphicon-remove pointer"><span class="post-container-link">Remove</span></a>
    				</div>
          {% endfor %}
			</div>
		</div>
	</div>

{% endblock %}